.home_page{
	position: relative;
}
body{
background-color: brown;
}
a,a:link, a:visited, a:hover{
	text-decoration: none;
	color: inherit;
}
.header{
	background-color:transparent;
	position: fixed;
/*	display:block;*/
	width: 100vw;
}
.title{
	float: left;
	font-family: 'futurapt_bold';
	margin: 0px 0px 0px 0px;
}
.title h1{
	float: left;
	font-size: 46px;
	color: white;
}
.title h2{
	float: left;
	font-size: 36px;
	padding: 7px 0px 0px 15px;
	color: rgba(0,0,0,0.85);

}

.right_floter{
	float: right;
	display: block;
	font-family: 'open_sansregular';
	font-size: 14px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .7);
	text-shadow:1px 0px rgba(144, 144, 144, .3);
/*	background: #123371;*/
/*	margin-top: 10px; */
	padding-top: 48px;
}
.nav_menus{
	margin: 0px;
	float: right;
/*	background: #6C1618;*/
}
.nav_menus a{
	padding: 8px 10px 8px 10px;
	line-height: 30px;
	height: 30px;


}
.nav_menus a:last-child{
	padding-right: 80px;
}
.nav_menus a:nth-child(1){
	padding-left: 50px;
}
.nos{
	float: left;
	font-size: 9px;
	color: white;
  	text-align: center;
  	height: 11px;
  	line-height: 12px;
  	width: 11px;
  	margin: 8px 5px 8px 8px;
  	border-radius: 7px;
  	border-style: solid;
  	border-width: 1px;
  	border-color: white;
}
.news{
	margin-top: 0px;
	float: left;
  	height: 30px;
  	line-height: 30px;
  	width: 80px;
  	border-radius: 15px;
  	background-color: rgba(255,255,255,.30);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
		cursor: pointer;
}
.sandwichbutton{
	display: none;
}
@media only screen and (max-width: 1140px){
	.title h2{
		display: none;
	}
	.title h1{
		margin-left: 20px;
	}
}
@media only screen and (max-width: 788px){
.right_floter{
	display: none;
}
.sandwichbutton{
	display: block;
	position: absolute;
	right: 10%;
	top:40px;
  font-size: 40px;
	float: right;
}
.title h2{
	display: none;
}
.news{
	float: none;
	margin-left: 32px;
	margin-top: 50px;
}
.news:hover{
	cursor: pointer;
	color: #f1f1f1;
}
}

/*#main {
    transition: margin-left .5s;
    padding: 16px;
}*/
